@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Pacifico&display=swap');

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursive {
    font-family: 'Poppins', cursive;
    font-size: 1.5rem;
    font-weight: 600;
}


.table_size {
    /* width: 500px; */
}

.table_size table {
    width: 100%;
    padding: 10px;
}

.table_size tr td {
    padding: 5px;
}